<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>


    <!--
          <customErrors mode="On">
      <error statusCode="400" redirect="/404.aspx"/>
      <error statusCode="403" redirect="/404.aspx"/>
      <error statusCode="404" redirect="/404.aspx"/>
      <error statusCode="500" redirect="/404.aspx"/>
         </customErrors>
  -->

    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory"
           verb="*" path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="baglanti" connectionString="Data Source=94.73.150.5; Initial Catalog=nakliyeee; User Id=makro; Password=3201479sSsS" />
  </connectionStrings>
</configuration>