input[type=submit] {
    background: none;
    border: none;
}

tr.selected td {
    background-color: #B0BED9 !important;
}

.gizle {
    display: none;
}

.p0 {
    padding: 0 !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.tblUnvan {
    margin-top: -5px;
    font-size: 12px;
}

    .tblUnvan tr td {
        padding:0 0 5px 60px!important;
    }

.tblTarih {
    margin-top: 40px;
    font-size: 12px;

}

    .tblTarih tr td {

        text-align: right;
     
    }
