input[type=submit] {
    background: none;
    border: none;
}

tr.selected td {
    background-color: #B0BED9 !important;
}

.gizle {
    display: none;
}

.p0 {
    padding: 0 !important;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.tblUnvan {
    margin-top: -5px;
    font-size: 12px;
    margin-bottom: 0 !important;
}

    .tblUnvan tr td {
        padding-left: 30px !important;
    }

.tblTarih {
    margin-top: 30px;
    font-size: 12px;
    margin-bottom: 0 !important;
}

    .tblTarih tr td {
        text-align: right;
    }
